.heading{
    text-align: center;
    font-size: 50px;

}

.container{
    text-align: center;
    text-emphasis: none;
    
}

body{background-color: aquamarine;
     background-image: url("/users/dimun/Desktop/weather-app/images/weather.jpg");
     background-size: cover;
     background-repeat: no-repeat;
}

p{font-size: 80px;
  color: rgb(10, 10, 10);  
}

.temperature{
    font-size: 50px
}

.humidity{
    font-size: 50px
}
.city-icon{
    font-size: 50px
}